/* html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
   */
body {
    background-color: tan;
}

.chicken {
    color: rgb(124, 0, 58);
    font-family: 'Brush Script MT', Helvetica, serif;
    font-weight: 900;

}

.beef {
    color: rgb(121, 89, 1);
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}

.fish {
    color: rgb(44, 119, 1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600; 
}

.main {
    color: purple;
}

h1 {
    background-color: hsla(182, 42%, 87%, 0.979);
}

h2 {
    background-color: yellowgreen;
}

h3 {
    background-color: rgb(17, 56, 7);
}

.title {
    border: 3px, black, double;
    padding: 10px;
}
 .item1 {
    border: 3px, black, solid;
    background-color: white;
    padding: 5px;
    
}

.item2 {
    border: 3px, blue, solid;
    padding: 5px;
}

.item3 {
    border: 3px, gray, solid; 
} 

.list1 {
    margin: 10px;
}