html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
body {
    background-color: tan;
}

.chicken {
    color: rgb(124, 0, 58);
    font-family: 'Brush Script MT', Helvetica, serif;
    font-weight: 900;

}

.beef {
    color: rgb(121, 89, 1);
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}

.fish {
    color: rgb(44, 119, 1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600; 
}

.main {
    color: purple;
}

h1 {
    background-color: hsla(118, 44%, 42%, 0.514);
}

h2 {
    background-color: yellowgreen;
}

h3 {
    background-color: rgb(17, 56, 7);
}

.item1,
.item2,
.item3 {
    display: inline-block;
    margin: auto;
}

.item1 {
    width: 300px;
}

.item2 {
    width: 150px;
}
.item3 {
    width: 150px;
}